.works {
  background-color: #fff;
  padding: 60px 0;
  text-align: center;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  
}

.work-item {
  flex: 0 1 calc(33.33% - 20px); /* Adjusted margin for three items per row */
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 1px solid rgb(235, 230, 230);
  
}

.work-item img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  height: 50%;
}

.work-item h3 {
  font-size: 20px;
  margin: 10px 0;
}

.work-item p {
  font-size: 16px;
  line-height: 1.5;
}
.works-text p{
   margin: 0 20% 0 10%;
  text-align: left;
}
.description{
  text-align: center;
  /* padding: 20px; */
  margin: 0 90px;
}
.work-item {
    /* Other styles */
    transition: transform 0.3s ease-in-out;
  }
  
  .work-item:hover {
    transform: translateY(-10px);  
    background-color: #fff; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .work-item:hover .view-button {
    opacity: 1;
  }
  .view-button{
    background-color: antiquewhite; padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
  }
  .view-button:hover{
    background-color: #0056b3;
  transform: translateY(-3px);
  
  }
  
/* Adjustments for smaller screens */
/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
    .work-items{
        display: flex;
        flex-direction: column;
    }
    .works-text{
      margin: 0 5px;
      text-align: center;
    }
  }